@import "../../sass/variable.scss";
@import "../../sass/mixins.scss";

.user {
  &__table {
    width: 100%;
    thead tr th:nth-child(1) {
      width: 8%;
      word-break: break-word;
      font-size: 0.8rem;
    }
    tbody tr td:nth-child(1) {
      width: 8%;
      word-break: break-word;
      font-size: 0.8rem;
    }
    thead tr th {
      width: 23%;
      word-break: break-word;
      font-size: 0.8rem;
    }
    tbody tr td {
      width: 23%;
      word-break: break-word;
      font-size: 0.8rem;
    }

    thead tr th:nth-child(4),
    thead tr th:nth-child(5),
    thead tr th:nth-child(6),
    thead tr th:nth-child(7),
    thead tr th:nth-child(8),
    tbody tr td:nth-child(4),
    tbody tr td:nth-child(5),
    tbody tr td:nth-child(6),
    tbody tr td:nth-child(7),
    tbody tr td:nth-child(8) {
      display: none;
    }

    @include small-tablet {
      thead tr th:nth-child(6),
      tbody tr td:nth-child(6) {
        display: table-cell;
      }
    }

    @include small-pc {
      thead tr th:nth-child(4),
      tbody tr td:nth-child(4) {
        display: table-cell;
      }
    }
    @include large-pc {
      thead tr th:nth-child(5),
      tbody tr td:nth-child(5),
      thead tr th:nth-child(7),
      tbody tr td:nth-child(7),
      thead tr th:nth-child(8),
      tbody tr td:nth-child(8) {
        display: table-cell;
      }
    }
  }
}
